* {
  box-sizing: border-box;
}

.side-menu {
  width: 0;
  height: 100%;
  background-color: darkgray;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 4rem;
  transition: 0.5s;
  overflow-x: hidden;
}
.close-button {
  position: absolute;
  right: 20px;
  top: 20px;
}
.close-button:hover {
  background-color: lightgray;
}
.side-menu button {
  background: none;
  border: none;
  border-radius: 10px;
}
.side-menu-button-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-menu-button-area button {
  margin-bottom: 1rem;
  width: 120px;
}
.side-menu-button-area button:hover {
  background-color: #000;
  color: #fff;
}
.head-button-area {
  margin-top: 1rem;
}
.head-button-area button {
  border: none;
  border-radius: 10px;
  background: none;
  padding: 0.5rem;
}
.head-button-area button:hover {
  background-color: lightgray;
}
.button-hide {
  display: none;
}
#input-area {
  display: none;
  margin-left: 0.5rem;
}
#input-area input {
  height: 35px;
  outline: none;
}
#input-area button {
  background-color: powderblue;
  margin-left: 0.5rem;
}
#input-area button:hover {
  background-color: paleturquoise;
}
.head-line {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.head-line svg {
  width: 430px;
}
.menus {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double #000;
}
.menus button {
  border: none;
  border-radius: 10px;
  background: none;
  margin: 5px;
}
.menus button:hover {
  background-color: lightgray;
}
.news-img {
  max-width: 100%;
  max-height: 250px;
}
.news {
  border-bottom: 2px solid #000;
  padding: 1rem;
}
@media screen and (max-width:767px) {
  .head-line {
    border-bottom: 4px double #000;
  }
  .button-hide {
    display: inline-block;
  }
  .menus {
    display: none;
  }
}
@media screen and (max-width:373px) {
  #input-area input {
    width: 150px;
  }
}